<table class="table table-bordered">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>email</th>
    <th>Group</th>
    <th>Status</th>
    <th>Date</th>
    <th></th>
  </thead>
  <tbody *ngFor="let emp of employeeList;index as i">
    <td>{{i+1}}</td>
    <td>{{emp.name}}</td>
    <td>{{emp.email}}</td>
    <td>{{emp.group.groupName}}</td>
    <td>

      <select *ngIf="!emp.status" [(ngModel)]="emp.status" class="form-control">
        <option></option>
        <option>Present</option>
        <option>Absent</option>
      </select>
      <div *ngIf="emp.status">{{emp.status}}
        <button (click)="emp.status=''" class="btn btn-primary">x</button>
      </div>
    </td>
    <td>
      <input *ngIf="!emp.date" type="date" [(ngModel)]="emp.date" />

      <div *ngIf="emp.date">{{emp.date}}
        <button (click)="emp.date=''" class="btn btn-primary">x</button>
      </div>
    </td>
    <td><button (click)="saveChanges(emp)" class="btn btn-primary">Save Changes</button></td>
  </tbody>
</table>
