h6 {
  text-align: center;
}

#submitBtn {
  text-align: center;
  margin-top: 1%;
  margin-left: 40%;
  padding-left: 2%;
  padding-right: 2%;
}

.table{
  margin-top: 5%;
  text-align: center;
  margin-left: 3%;
}
